<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harsh.appbase">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.harsh.appbase.init.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.harsh.appbase.SearchActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyDatabase.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.beingdev.magicprint.db.Notification" />
        <!--
        Add the following to your AndroidManifest.xml to prevent the launching of your main Activity
        if you are calling startActivity above.
        -->
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.harsh.appbase.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.harsh.appbase.Register"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.harsh.appbase.MainActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.harsh.appbase.HelpCenter"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.Profile"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.Cart"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.UpdateData"
            android:theme="@style/WhiteTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.harsh.appbase.ForgotPassword"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.harsh.appbase.NotificationActivity"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.IndividualProduct"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.Wishlist"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.OrderDetails"
            android:theme="@style/WhiteTheme" />
        <activity
            android:name="com.harsh.appbase.OrderPlaced"
            android:theme="@style/WhiteTheme" />        <activity
            android:name="com.harsh.appbase.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.harsh.appbase.ShopByCategoryActivity"
            android:theme="@style/WhiteTheme"/>
        <activity android:name="com.harsh.appbase.ShopByCategorySearchResult"
            android:theme="@style/WhiteTheme" />
        <activity android:name=".MagicPrintFeedback" />
    </application>

</manifest>